In [1]:
import pandas as pd
pd.options.display.max_columns = None
df = pd.read_csv("yearly_full_release_long_format.csv")
df.head()

,Area,Country code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
0,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Clean,GW,0.19,NaN,NaN
1,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Fossil,GW,0.03,NaN,NaN
2,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Gas and Other Fossil,GW,0.03,NaN,NaN
3,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",GW,0.19,NaN,NaN
4,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Renewables,GW,0.19,NaN,NaN

In [2]:
Europa = df[df['Ember region'] == 'Europe']
Europa

,Area,Country code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
2904,Albania,ALB,2000,Country,Europe,Europe,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Clean,GW,1.45,NaN,NaN
2905,Albania,ALB,2000,Country,Europe,Europe,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Fossil,GW,0.19,NaN,NaN
2906,Albania,ALB,2000,Country,Europe,Europe,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Gas and Other Fossil,GW,0.19,NaN,NaN
2907,Albania,ALB,2000,Country,Europe,Europe,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",GW,1.45,NaN,NaN
2908,Albania,ALB,2000,Country,Europe,Europe,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Renewables,GW,1.45,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304649,United Kingdom,GBR,2021,Country,Europe,Europe,0.0,1.0,1.0,1.0,Power sector emissions,Fuel,Other Fossil,mtCO2,6.01,0.26,4.52
304650,United Kingdom,GBR,2021,Country,Europe,Europe,0.0,1.0,1.0,1.0,Power sector emissions,Fuel,Other Renewables,mtCO2,0.00,0.00,NaN
304651,United Kingdom,GBR,2021,Country,Europe,Europe,0.0,1.0,1.0,1.0,Power sector emissions,Fuel,Solar,mtCO2,0.60,-0.04,-6.25
304652,United Kingdom,GBR,2021,Country,Europe,Europe,0.0,1.0,1.0,1.0,Power sector emissions,Fuel,Wind,mtCO2,0.72,-0.09,-11.11
304653,United Kingdom,GBR,2021,Country,Europe,Europe,0.0,1.0,1.0,1.0,Power sector emissions,Total,Total emissions,mtCO2,82.42,6.81,9.01

In [3]:
#Selected Region Europe
Europa.to_json("Europe.json", orient = 'table')

In [4]:
Europa.head()

,Area,Country code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
2904,Albania,ALB,2000,Country,Europe,Europe,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Clean,GW,1.45,NaN,NaN
2905,Albania,ALB,2000,Country,Europe,Europe,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Fossil,GW,0.19,NaN,NaN
2906,Albania,ALB,2000,Country,Europe,Europe,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Gas and Other Fossil,GW,0.19,NaN,NaN
2907,Albania,ALB,2000,Country,Europe,Europe,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",GW,1.45,NaN,NaN
2908,Albania,ALB,2000,Country,Europe,Europe,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Renewables,GW,1.45,NaN,NaN

In [5]:
set(Europa['Area'])

{'Albania',
 'Austria',
 'Belarus',
 'Belgium',
 'Bosnia Herzegovina',
 'Bulgaria',
 'Croatia',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Estonia',
 'Faroe Islands (the)',
 'Finland',
 'France',
 'Germany',
 'Gibraltar',
 'Greece',
 'Hungary',
 'Iceland',
 'Ireland',
 'Italy',
 'Kosovo',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Malta',
 'Moldova',
 'Montenegro',
 'Netherlands',
 'North Macedonia',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Russian Federation (the)',
 'Serbia',
 'Slovakia',
 'Slovenia',
 'Spain',
 'Sweden',
 'Switzerland',
 'Turkey',
 'Ukraine',
 'United Kingdom'}

In [6]:
paises = ['Austria','Belgium','Bulgaria','Croatia','Cyprus','Czechia','Denmark','Estonia','Finland','France','Germany','Greece','Hungary',
 'Ireland',
 'Italy','Latvia',
 'Lithuania',
 'Luxembourg',
 'Malta','Netherlands',
 'Poland',
 'Portugal',
 'Romania','Slovakia',
 'Slovenia',
 'Spain',
 'Sweden']
for k in paises: 
    Europa27 = Europa.loc[Europa.Area.isin(paises)]

In [7]:
set(Europa27['Area'])

{'Austria',
 'Belgium',
 'Bulgaria',
 'Croatia',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hungary',
 'Ireland',
 'Italy',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Malta',
 'Netherlands',
 'Poland',
 'Portugal',
 'Romania',
 'Slovakia',
 'Slovenia',
 'Spain',
 'Sweden'}

In [8]:
Europa27

,Area,Country code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
17358,Austria,AUT,2000,Country,Europe,Europe,1.0,1.0,0.0,0.0,Capacity,Aggregate fuel,Clean,GW,12.47,NaN,NaN
17359,Austria,AUT,2000,Country,Europe,Europe,1.0,1.0,0.0,0.0,Capacity,Aggregate fuel,Fossil,GW,3.62,NaN,NaN
17360,Austria,AUT,2000,Country,Europe,Europe,1.0,1.0,0.0,0.0,Capacity,Aggregate fuel,Gas and Other Fossil,GW,1.63,NaN,NaN
17361,Austria,AUT,2000,Country,Europe,Europe,1.0,1.0,0.0,0.0,Capacity,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",GW,12.42,NaN,NaN
17362,Austria,AUT,2000,Country,Europe,Europe,1.0,1.0,0.0,0.0,Capacity,Aggregate fuel,Renewables,GW,12.47,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278711,Sweden,SWE,2021,Country,Europe,Europe,1.0,1.0,0.0,0.0,Power sector emissions,Fuel,Other Fossil,mtCO2,1.64,0.00,0.00
278712,Sweden,SWE,2021,Country,Europe,Europe,1.0,1.0,0.0,0.0,Power sector emissions,Fuel,Other Renewables,mtCO2,0.00,0.00,NaN
278713,Sweden,SWE,2021,Country,Europe,Europe,1.0,1.0,0.0,0.0,Power sector emissions,Fuel,Solar,mtCO2,0.05,0.00,0.00
278714,Sweden,SWE,2021,Country,Europe,Europe,1.0,1.0,0.0,0.0,Power sector emissions,Fuel,Wind,mtCO2,0.30,0.00,0.00
278715,Sweden,SWE,2021,Country,Europe,Europe,1.0,1.0,0.0,0.0,Power sector emissions,Total,Total emissions,mtCO2,7.51,0.57,8.21

In [10]:
Europa27.to_json("Europe27.json", orient = 'table')

In [42]:
df_2021 = df_EU[(df_EU['Category']=='Electricity generation') & (df_EU['Year']== 2021) & (df_EU['Subcategory'] == 'Fuel') & (df_EU['Unit'] == '%')][['Area','Variable','Value']]
df_2021 = df_2021.pivot_table('Value', ['Area'], 'Variable')
df_2021 = df_2021[['Hydro', 'Coal','Nuclear','Wind','Bioenergy','Solar','Other Fossil','Other Renewables','Gas' ]]
df_2021.sort_values(by='Hydro',  axis = 0, ascending = True, inplace = True,)

In [43]:
df_2021

Variable,Hydro,Coal,Nuclear,Wind,Bioenergy,Solar,Other Fossil,Other Renewables,Gas
Area,,,,,,,,,
Albania,19.42575,15.87425,14.49925,10.90275,5.97175,3.86325,7.52075,0.171,21.77175

In [44]:
df_2000 = df_EU[(df_EU['Category']=='Electricity generation') & (df_EU['Year']== 2000) & (df_EU['Subcategory'] == 'Fuel') & (df_EU['Unit'] == '%')][['Area','Variable','Value']]
df_2000 = df_2000.pivot_table('Value', ['Area'], 'Variable')
df_2000

Variable,Bioenergy,Coal,Gas,Hydro,Nuclear,Other Fossil,Other Renewables,Solar,Wind
Area,,,,,,,,,
Albania,0.913095,27.05,16.73619,23.810238,16.002143,14.437143,0.459286,0.00119,0.590714

In [45]:
df_nuc_yeu = df_EU[df_EU['Variable'] == 'CO2 intensity']
df_nuc_yeu

,Area,Country code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
2959,Albania,ALB,2000,Country,Europe,Europe,0.0,0.0,0.0,0.0,Power sector emissions,CO2 intensity,CO2 intensity,gCO2/kWh,50.31,NaN,NaN
3025,Albania,ALB,2001,Country,Europe,Europe,0.0,0.0,0.0,0.0,Power sector emissions,CO2 intensity,CO2 intensity,gCO2/kWh,56.30,5.99,11.91
3091,Albania,ALB,2002,Country,Europe,Europe,0.0,0.0,0.0,0.0,Power sector emissions,CO2 intensity,CO2 intensity,gCO2/kWh,64.17,7.87,13.98
3157,Albania,ALB,2003,Country,Europe,Europe,0.0,0.0,0.0,0.0,Power sector emissions,CO2 intensity,CO2 intensity,gCO2/kWh,40.00,-24.17,-37.67
3223,Albania,ALB,2004,Country,Europe,Europe,0.0,0.0,0.0,0.0,Power sector emissions,CO2 intensity,CO2 intensity,gCO2/kWh,41.00,1.00,2.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304379,Albania,GBR,2017,Country,Europe,Europe,0.0,1.0,1.0,1.0,Power sector emissions,CO2 intensity,CO2 intensity,gCO2/kWh,297.02,-28.54,-8.77
304445,Albania,GBR,2018,Country,Europe,Europe,0.0,1.0,1.0,1.0,Power sector emissions,CO2 intensity,CO2 intensity,gCO2/kWh,282.51,-14.51,-4.89
304511,Albania,GBR,2019,Country,Europe,Europe,0.0,1.0,1.0,1.0,Power sector emissions,CO2 intensity,CO2 intensity,gCO2/kWh,266.16,-16.35,-5.79
304577,Albania,GBR,2020,Country,Europe,Europe,0.0,1.0,1.0,1.0,Power sector emissions,CO2 intensity,CO2 intensity,gCO2/kWh,245.99,-20.17,-7.58
304643,Albania,GBR,2021,Country,Europe,Europe,0.0,1.0,1.0,1.0,Power sector emissions,CO2 intensity,CO2 intensity,gCO2/kWh,268.33,22.34,9.08

In [46]:
df_c_f = df_EU[(df_EU['Category']=='Electricity generation') & (df_EU['Year']== 2021) & ((df_EU['Variable'] == 'Clean')|(df_EU['Variable'] == 'Fossil')) & (df_EU['Unit'] == '%')][['Area','Variable','Value']]
df_c_f = df_c_f.pivot_table('Value', ['Area'], 'Variable').sort_values(by='Clean', ascending = True)
df_c_f

Variable     Clean     Fossil
Area
Albania   54.83375  44.065122